.header-container{}

.header-container .top-box{
    display: flex;
    justify-content: space-between;
}

.header-container .top-box .tbox01{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    align-items: center;
}
.header-container .top-box .tbox01 li{
    font-size: 13px;
}
.header-container .top-box .tbox01 li a{
    text-decoration: none;
    color: #cccc;
}
.header-container .top-box .tbox01 li a img{
    width: 150px;
}

.header-container .top-box .tbox01 button{
    background-color: gray;
    border-radius: 1px solid gray;
}

.header-container .top-box .tbox02{
    margin: 0 20px 0 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.header-container .top-box .tbox02 input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    color: #cccc;
    border-bottom: 2px solid #cccc;
}
.header-container .top-box .tbox02 li a{
    text-decoration: none;
    color: #cccc;
    font-size: 13px;
}

/* .header-container .top-box .tbox02 li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 1px solid #eeee;
} */

.header-container .centerbox{
    margin: 0 auto;
    padding: 0;
    width: 1400px;
    height: 400px;
    display: block;
    overflow:hidden;
    border-radius: 20px;
}
.header-container .centerbox img{
    margin-top: 30px;
    width: 1400px;
    border-radius: 20px;
}

/* .header-container .bottombox{
    margin: 0 auto;
    width: 1800px;
    display: flex;
    gap: 10px;
}

.header-container .bottombox button{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 50px;
}

.header-container .bottombox button a{
    text-decoration: none;
    font-size: 18px;
    color: #cccc;
} */