.section-container{
    width: 1800px;
    margin:0 auto;
    padding: 20px;
}

.section-container .buttonbox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
.section-container .buttonbox button{
    margin: 10px;
    padding: 0;
    width: 100px;
    height: 40px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 50px;
    color: #eeee;
}

.section-container h1{
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #f8f8f8ee;
}
.section-container ul{
    margin: 0;
    padding: 0;
}
.section-container img{
    border-radius: 10px;
}
.section-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-container ul li img{
    margin-top: 50px;
}

.section-container .listbox .list01 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.section-container .listbox .list02 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
 .list03 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.section-container .listbox .list04 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.section-container .listbox .list05 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.section-container .listbox .list06 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}